<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>HomePage - Not Logged IN</title>
</head>
<body>
    <div class="l-form">
      <div class="shape1"></div>
      <div class="shape2"></div>

      <div class="form">
          <img th:src="@{/assets/authentication.svg}" alt="" class="form__img">
          <form method="post" action="" th:action="@{/loginProcess}" class="form__content">
              <h1 class="form__title">Login </h1>

              <div class="form__div form__div-one">
                  <div class="form__icon">
                      <i class="bx bx-user-circle"></i>
                  </div>

                  <div class="form__div-input">
                      <label for="username" class="form__label">Username</label>
                      <input id="username" name="username"   type="text" class="form__input">
                  </div>
              </div>

              <div class="form__div ">
                  <div class="form__icon">
                      <i class="bx bx-lock"></i>
                  </div>

                  <div class="form__div-input">
                      <label for="password" class="form__label">Password</label>
                      <input id="password" name="password" type="password" class="form__input">
                  </div>
              </div>

              <a th:href="@{/register}" class="form__forgot">Register</a>

              <input type="submit" class="form__button" value="Login">
              <div class="form__social">
                  <span class="form__social-text">Our login with:</span>
                  <a th:href="@{/oauth2/authorization/google}" class="form__social-icon">
                      <i class="bx bxl-google"></i>
                  </a>
              </div>
          </form>

      </div>
  </div>
  <script th:src="@{/js/main.js}"></script>
</body>
</html>