<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <title>Register Page</title>
</head>
<body>
  <div class="l-form">
      <div class="shape1"></div>
      <div class="shape2"></div>

      <div class="form">
          <form method="post" action="" th:action="@{/register}" th:object="${register}" class="form__content">
              <h1 class="form__title">Register</h1>

              <div class="form__div form__div-one">
                  <div class="form__icon">
                      <i class="bx bx-user-circle"></i>
                  </div>

                  <div class="form__div-input">
                      <label for="username" class="form__label">Username</label>
                      <input type="text" class="form__input" id="username" th:field="*{username}">
                  </div>
              </div>

              <div class="form__div">
                  <div class="form__icon">
                      <i class="bx bx-lock"></i>
                  </div>

                  <div class="form__div-input">
                      <label for="password" class="form__label">Password</label>
                      <input type="password" class="form__input" id="password" th:field="*{password}">
                  </div>
              </div>

              <div class="form__div">
                  <div class="form__icon">
                      <i class="bx bx-lock"></i>
                  </div>

                  <div class="form__div-input">
                      <label for="confirmPassword" class="form__label">Confirm Password</label>
                      <input type="password" class="form__input" id="confirmPassword" th:field="*{confirmPassword}">
                  </div>
              </div>


              <input type="submit" class="form__button" value="Register">

          </form>
      </div>
  </div>
  <script th:src="@{/js/main.js}"></script>
</body>
</html>